html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  
}

h1 a {
  color: inherit;
}

h2 {
font-size: 5rem;
 margin-bottom: 5rem;
 text-transform: uppercase;
 line-height: 1.2;
  
}

h3 {
  font-size: 5rem;

}

h4 {
  font-size: 4.5rem;

}

h5 {
  font-size: 4rem;

}

h6 {
  font-size: 3.5rem;
}

p {
  margin-bottom: 4rem;
}

.responsive-table {
  overflow-x: auto;
  overflow: hidden;
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 1rem;
  text-align: left;
}

table th, table td{
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid var(--light-gray-color);
}

tfoot td, table th{
  font-size: 1.7rem;
  text-align: center;
  white-space: nowrap;
  background: var(--light-gray-color);
}